Voice activation.json
{
  "name": "Voice activation",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "# Role\nYou are Ash, a helpful assistant who will help to manage the user's email and calendar and answer questions about them.\n\nYour job is to complete the user's request end-to-end using the available tools. Ask clarifying questions if the task is unclear. If the task is clear proceed until the task is completed.\n\n# Core Loop (STRICT)\nRun the following loop until the task is fully complete.\n\n1. PLAN\n- Create a concise plan describing what to search, which tools to call, and what outputs are required.  \n- Store the plan in the Think tool.\n\n2. EXECUTE  \n- Use tools to gather data, validate findings, refine queries, and fill gaps.  \n- If results are insufficient, automatically broaden scope, change angles, or retry with adjusted searches.  \n- Do not stop because of missing data; adapt and continue.\n\n3. UPDATE  \n- After each tool call, evaluate the result.  \n- Update the plan and store the new plan in the Think tool.\n\n4. FINISH  \n- Stop only when every part of the user’s request is completed and all outputs are created.\n\n# TOOL RULES\n## THINK TOOL\nUse this as your working memory and scratchpad.  \nDocument:\n- Current plan\n- Progress across steps\n- Summaries of findings\n- Decisions and assumptions  \n- Keep it concise. Do not store large text.\n\n## Email tool\n- Use this to search through the user's email\n- Ignore emails with an unsubscribe option\n- Keep your search tight to the timeframe or key words needed to answer the user's question\n\n## Calendar\n- Use this to search through the user's calendar\n\n\n\n# Capabilities and limitations\nYou cannot send emails, you can read the inbox, you can draft emails when asked, and you can summarize information. You can read the calendar and you can accept events when explicitly given permission. You can create new events when explicitly given permission.\n\n# Rules\nALWAYS\n- write in English\n- be concise but helpful\n- respect the time frames given by the user, for example \"today\", \"yesterday\", \"this week\". Do not stray out of those time frames\n- include a link to an email that you are referencing in a response\nNEVER\n- send an email\n- draft a response to an email that includes the word \"unsubscribe\" in its footer\n- include emails with the word \"unsubscribe\" in summaries of important or urgent information\n- Use any information that is not concretely in the data you have access to\n- make up any information\n- decline a calendar meeting\n\n# Output Format\n- Structured, clean summaries only\n- No filler\n- be clear if you have the information the user requested\n- if you do not have the information the user requested, then tell them"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2016,
        400
      ],
      "id": "cbc88590-3c7e-44fb-abb1-20dec4ee852b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "responseFormat": "text",
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1824,
        624
      ],
      "id": "1038d750-abeb-4755-a964-fd930ee9b075",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fXxJk54TVuaLKpA0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1952,
        624
      ],
      "id": "ef6b7c3a-817d-4f18-9ece-af0c26b276e7",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        2080,
        624
      ],
      "id": "51bcc313-a741-46de-b64c-7ce376143544",
      "name": "Think"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2208,
        624
      ],
      "id": "e78a293c-f035-423f-8a0f-57b31f962a3c",
      "name": "Get many messages in Gmail",
      "webhookId": "79528739-c567-43cb-8e93-24eda616d23d",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZiFE6d0Ovpo7Lcz7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "ilan.rotenberg@gmail.com",
          "mode": "list",
          "cachedResultName": "ilan.rotenberg@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2336,
        624
      ],
      "id": "d4c37252-cb37-4cdb-8704-232ae9b5a2d8",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "lcTmydwMx7AX3ET8",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        928,
        400
      ],
      "id": "56cd59ad-5f05-47cf-b9f9-3e2fc15a132e",
      "name": "Telegram Trigger",
      "webhookId": "e1d999f7-3db7-4ad4-a7b8-9288c165e358",
      "credentials": {
        "telegramApi": {
          "id": "arcAAucXYcXYMJrA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "d5bb9885-da03-4b31-a49e-e4804bbe06ec"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1d6f31d1-6cd3-4d2a-b664-24c4847b5042",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1152,
        400
      ],
      "id": "e6eb3267-01f0-450d-a078-4447887334f7",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1376,
        304
      ],
      "id": "e6fb8b7e-68b9-4452-b2a2-aeabdc44e4f0",
      "name": "Get a file",
      "webhookId": "84c6230a-03e5-4c68-9724-400e77a4e30f",
      "credentials": {
        "telegramApi": {
          "id": "arcAAucXYcXYMJrA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c760cee0-e1e4-441e-8a18-90e94eaee2cb",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        496
      ],
      "id": "7c298730-e1ed-4123-b4c0-4fa6f03e40a4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1600,
        304
      ],
      "id": "59e7d725-a250-44f2-8160-15624b8974fa",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "fXxJk54TVuaLKpA0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2688,
        400
      ],
      "id": "6f872a93-4b9b-496a-aa06-f971aa26a828",
      "name": "Send a text message",
      "webhookId": "8b67f047-1bfa-4f5d-ace8-27f3709b61aa",
      "credentials": {
        "telegramApi": {
          "id": "arcAAucXYcXYMJrA",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 402243874,
          "message": {
            "message_id": 5,
            "from": {
              "id": 5929016650,
              "is_bot": false,
              "first_name": "Ilan",
              "last_name": "Rotenberg",
              "language_code": "en"
            },
            "chat": {
              "id": 5929016650,
              "first_name": "Ilan",
              "last_name": "Rotenberg",
              "type": "private"
            },
            "date": 1764544357,
            "text": "Whats the last email I sent?"
          }
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "47f229ae-55bd-43bd-9af4-bf0296f008bf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "588ff3306f03a6f01ec43b98ef52a37105af90ec6afe9a80d7b2657449961d3d"
  },
  "id": "vcTXBo7N9e4CnHci",
  "tags": []
}